{% extends 'base.html.twig' %}

{% block title %}Last train!{% endblock %}

{% block body %}
		<div class="card my-5">
			<div class="card-body">
          <h2 class="card-title mb-3">Dernier train pour {{stop_area_id}}</h2>
          
			</div>
		</div>

	<script>
  const token = '66b866e5-f237-4809-a433-f34d595d949e';

  function fetchAutocompleteResults(inputValue) {

    var myHeaders = new Headers();
    myHeaders.append("Authorization", "Basic MWI1YTUxNDItNjQzNS00MzI3LWFmNDMtNWM3MTBiMDVkOWMwOg==");

    var requestOptions = {
      method: 'GET',
      headers: myHeaders
    };

    const apiUrl = `https://api.navitia.io/v1/coverage/fr-idf/stop_areas/{{stop_area_id}}/departures?`;
    
    return fetch(apiUrl, requestOptions)
      .then(response => response.json())
      .then(result => {
        return result.places;
      })
      .catch(error => {
        console.error('Erreur lors de la récupération des données depuis l\'API:', error);
        return [];
      });
  }
	</script>
{% endblock %}

